
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

@section head{    
    <link href="@Url.Content("~/Content/User/css/")lightbox.css" rel="stylesheet" media="screen" />
    <script src="@Url.Content("~/Content/User/js/")prototype.js"></script>
    <script src="@Url.Content("~/Content/User/js/")scriptaculous.js"></script>
    <script src="@Url.Content("~/Content/User/js/")lightbox.js"></script>
    <script src="@Url.Content("~/Content/User/js/")java.js"></script>
}

<div class="crumb_nav"> <a href="@Url.Action("Index","Home")">home</a> &gt;&gt; @ViewBag.product.name </div>
<div class="title"><span class="title_icon"><img src="@Url.Content("~/Content/User/")images/bullet1.gif" alt="" /></span>Product name</div>
<div class="feat_prod_box_details">
    <div class="prod_img">
        <a href="#"><img src="@Url.Content("~/Content/User/")images/@ViewBag.product.photo" alt="" border="0" /></a> <br />
        <br />
        <a href="images/big_pic.jpg" rel="lightbox"><img src="@Url.Content("~/Content/User/")images/zoom.gif" alt="" border="0" /></a>
    </div>
    <div class="prod_det_box">
        <div class="box_top"></div>
        <div class="box_center">
            <div class="prod_title">Details</div>
            <p class="details">
                @ViewBag.product.description
            </p>
            <div class="price"><strong>PRICE:</strong> <span class="red">@ViewBag.product.price $</span></div>
            <div class="price"><strong>COLORS:</strong> <span class="colors"><img src="@Url.Content("~/Content/User/")images/color1.gif" alt="" border="0" /></span> <span class="colors"><img src="@Url.Content("~/Content/User/")images/color2.gif" alt="" border="0" /></span> <span class="colors"><img src="@Url.Content("~/Content/User/")images/color3.gif" alt="" border="0" /></span> </div>
            <a href="@Url.Action("Buy","Cart",new { id = ViewBag.product.Id })" class="more"><img src="@Url.Content("~/Content/User/")images/order_now.gif" alt="" border="0" /></a>
            <div class="clear"></div>
        </div>
        <div class="box_bottom"></div>
    </div>
    <div class="clear"></div>
</div>

<div id="demo" class="demolayout">
    <ul id="demo-nav" class="demolayout">
        <li><a class="active" href="#tab1">More details</a></li>
        <li><a class="" href="#tab2">Related Products</a></li>
    </ul>
    <div class="tabs-container">
        <div style="display: block;" class="tab" id="tab1">
            <p class="more_details">@ViewBag.product.description</p>           
        </div>
        <div style="display: none;" class="tab" id="tab2">
            @foreach (var product in ViewBag.RelatedProducts)
            {
                <div class="new_prod_box">
                    <a href="@Url.Action("Details","Product",new { id= @product.Id })">@product.name</a>
                    <div class="new_prod_bg"> <a href="@Url.Action("Details","Product",new { id= @product.Id })"><img src="@Url.Content("~/Content/User/")images/@product.photo" alt="" class="thumb" border="0" /></a> </div>
                </div>
            }
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>

<script type="text/javascript">
    var tabber1 = new Yetii({
    id: 'demo'
    });
</script>